table.calculatorTable {
    width: 600px;
    height: 600px;
}

.calculatorHistory input, .calculatorDisplay input {
    width: 100%;
    height: 80px;
    font-size: 50px;
}

a.userInputValue, a.userInputFunction, a.userInputSubmit, a.userInputBackspace, a.userInputClear {
    height: 100%;
    font-size: 40px;
}

/* Remove horizontal table lines */
.table th, .table td {
    border-top: none !important;
}

.table {
    border: 1px solid #dddddd;
}

.error {
    border: 1px solid #b94a48;
    background-color: #fee;
}